@import "bourbon/bourbon";
@import "base/base";

body{
	font-size:  1em;
}

.artist_listing{
	width: 100%;

	.artist_row{
		width: 25%;
		display: inline-block;

		.artist_photo{
			display: inline-block;
			vertical-align: middle;
			background-size: cover;
			width: 30%;
			padding-top: 30%;
			border:1px solid gray;

			&.none{

			}
		}

		.artist_name{
			display: inline-block;
			width: 69%;
			vertical-align: middle;
		}	

		&.album{
			width: 33%;

			.popularity{
				span{
					display: block;
				}
			}

			.tracks_holder{
				display: none;

				.album_track{
					font-size: .5em;
					display: block;
				}
			}

			&.selected{
				.tracks_holder{
					display: block;
				}
			}
		}
	}

}
