@import "neat/neat";
@import "bourbon/bourbon";
@import "base/base";



$custom-grid--artist: (
  columns: 1,
  gutter: 30px,
);

body{
	font-size:  1em;
}

.artist_listing{
	width: 100%;

	.artist_row{
		@include grid-container;

		width: 25%;
		display: inline-block;

		.cover_holder{
			@include grid-column(1, $custom-grid--artist);
			position: relative;
			vertical-align: middle;
			padding-top:  modular-scale(2,50%);
			border:1px solid gray;

			.artist_photo{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background-size: cover;
			}

			.tracks_holder{
				position: absolute;
				display: none;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background-color: rgba(255,255,255,.5);

				.album_track{
					font-size: .5em;
					display: block;
				}
			}

			&.none{

			}
		}

		.artist_name{
			@include grid-column(1, $custom-grid--artist);
			vertical-align: middle;
		}	

		&.album{

			$album--one-column: (
			  columns: 1,
			  gutter: 10px,
			);

			$album--two-columns: (
			  columns: 2,
			  gutter: 10px,
			  media: 410px,
			);

			$album--three-columns: (
			  columns: 3,
			  gutter: 10px,
			  media: 728px,
			);

			$album--four-columns: (
			  columns: 4,
			  gutter: 10px,
			  media: 1024px,
			);

			@include grid-column(1, $album--one-column);

			@include grid-media($album--two-columns){
    			@include grid-column(1,$album--two-columns);
  			}
  			@include grid-media($album--three-columns){
    			@include grid-column(1,$album--three-columns);
  			}
  			@include grid-media($album--three-columns){
    			@include grid-column(1,$album--three-columns);
  			}
  			@include grid-media($album--four-columns){
    			@include grid-column(1,$album--four-columns);
  			}

			.popularity{
				.release_date{
					display: block;
					float: right;
				}
				.review{
					display: block;
					p{
						float:left;
						margin: 0px;
						padding: 0px;

						span{
							display: block;
							opacity: .2;

							&.filled{
								opacity: 1;
							}
								
						}
					}

					
				}
			}

			
			.show_tracks,.hide_tracks{
				@include grid-column(1, $custom-grid--artist);
			}

			&.selected{
				.tracks_holder{
					display: block;
				}
			}
		}
	}

}
